@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <a asp-action="MyPosts" asp-controller="Posts">Мои посты</a>
        <p>Messages</p>
        <p>Friends</p>
    </div>
